RewriteEngine on
RewriteRule ^.well-known/webfinger(.*)$ https://troet.cafe/.well-known/webfinger?resource=acct:phill93@troet.cafe [L,R=301]

<Files ".ftp-deploy-sync-state.json">
  Order Allow,Deny
  Deny from all
</Files>